---
import ArrowUpRightIcon from "~icons/ph/arrow-up-right";
---

<div
  class="invisible -z-10 fixed place-items-center grid border rounded-full h-20 aspect-square pointer-events-none"
  id="cursor-tracker"
  transition:persist
>
  <ArrowUpRightIcon
    class="invisible fill-current size-7.5 mix-blend-difference"
  />
</div>

<script>
  import { animate } from "motion";

  const cursorElement =
    document.querySelector<HTMLDivElement>("div#cursor-tracker")!;

  document.addEventListener(
    "pointermove",
    ({ pointerType, clientX, clientY }) => {
      if (pointerType !== "mouse") return;

      cursorElement.classList.remove("invisible");

      // elementFromPoint uses viewport-relative coordinates
      const currentElement = document.elementFromPoint(clientX, clientY);

      const isMorphTarget = Boolean(
        currentElement?.closest("[data-morph-cursor]"),
      );

      if (isMorphTarget) {
        cursorElement.querySelector("svg")!.classList.remove("invisible");
        document.body.style.cursor = "none";
      } else {
        cursorElement.querySelector("svg")!.classList.add("invisible");
        document.body.style.cursor = "crosshair";
      }

      const isSnapTarget =
        !isMorphTarget &&
        Boolean(currentElement?.closest("[data-snap-cursor]"));

      animate(cursorElement, {
        backgroundColor: isMorphTarget ? "currentColor" : "transparent",
        scale: isSnapTarget ? 0.5 : 1,
        x: clientX - 40,
        y: clientY - 40,
        zIndex: isMorphTarget ? 10 : -10,
      });
    },
  );
</script>
