---
import { twMerge } from "tailwind-merge";

interface SpotlightCardProps {
  spotlightColor: string;
  class?: string;
}

const { spotlightColor, class: className } = Astro.props as SpotlightCardProps;
---

<button
  data-snap-cursor
  data-spotlight-card
  class={twMerge("relative overflow-hidden p-8", className)}
  style="--spotlight-opacity: 0; --spotlight-x: 0px; --spotlight-y: 0px;"
>
  <div
    class="pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-300"
    style={`opacity: var(--spotlight-opacity); background: radial-gradient(circle at var(--spotlight-x) var(--spotlight-y), ${spotlightColor}, transparent 80%);`}
  >
  </div>

  <slot />
</button>

<script>
  const spotlightCards = document.querySelectorAll<HTMLButtonElement>(
    "button[data-spotlight-card]",
  )!;

  spotlightCards.forEach((spotlightCard) => {
    let isFocused = false;

    spotlightCard.addEventListener("mousemove", (event) => {
      if (isFocused) return;

      const rect = spotlightCard.getBoundingClientRect();
      spotlightCard.style.setProperty(
        "--spotlight-x",
        `${event.clientX - rect.left}px`,
      );
      spotlightCard.style.setProperty(
        "--spotlight-y",
        `${event.clientY - rect.top}px`,
      );
    });

    spotlightCard.addEventListener("focus", () => {
      isFocused = true;
      spotlightCard.style.setProperty("--spotlight-opacity", "0.6");
    });

    spotlightCard.addEventListener("blur", () => {
      isFocused = false;
      spotlightCard.style.setProperty("--spotlight-opacity", "0");
    });

    spotlightCard.addEventListener("mouseenter", () => {
      spotlightCard.style.setProperty("--spotlight-opacity", "0.6");
    });

    spotlightCard.addEventListener("mouseleave", () => {
      spotlightCard.style.setProperty("--spotlight-opacity", "0");
    });
  });
</script>
