---
import { twMerge } from "tailwind-merge";

interface Props {
    class?: string;
    id?: string;
}

const { id } = Astro.props;
---

<h1
    class={twMerge("font-display text-5xl tracking-tighter", Astro.props.class)}
    {id}
>
    <slot />
</h1>
