---
import type { FunctionalComponent, SVGAttributes } from "vue";

interface Props {
  entries: FunctionalComponent<SVGAttributes>[];
}

const { entries } = Astro.props;
---

<button
  class="group bg-current/10 shadow shadow-current/30 backdrop-blur-sm px-5 py-3 rounded-full outline-none focus:ring w-fit h-15"
  data-snap-cursor
>
  <ul
    class="flex justify-center gap-x-2 group-focus:gap-x-3 group-hover:gap-x-3 transition-all duration-300"
  >
    {
      entries.map((entry) => {
        const Component = entry;

        return (
          <li>
            <Component class="size-6" />
          </li>
        );
      })
    }
  </ul>

  <span class="sr-only">Expand my skills</span>
</button>
