---
import ProseH1 from "../../content/H1.astro";

import type { CollectionEntry } from "astro:content";

interface Props {
  data: CollectionEntry<"projects">[];
}

const { data: allProjects } = Astro.props;

const projectsStatistics = allProjects.reduce(
  (stats, project) => {
    if (project.data.isDraft) stats.inProgress++;
    else stats.completed++;

    return stats;
  },
  { completed: 0, inProgress: 0 },
);
---

<section class="grid min-h-screen grid-cols-8 place-content-center items-start">
  <div class="space-y-8 col-span-full">
    <ProseH1>My stats.</ProseH1>

    <div
      class="group grid min-h-[50vh] gap-4 rounded-2xl border-current/30 backdrop-blur-lg transition-[gap] duration-300 hover:gap-0 hover:border-current/70 lg:grid-cols-2"
      data-snap-cursor
    >
      <div
        class="grid place-content-center space-y-4 rounded-l-2xl border border-current/30 bg-current/10 text-center transition-all duration-300 max-xl:rounded-2xl max-lg:group-hover:rounded-b-none lg:group-hover:rounded-r-none"
      >
        <span>I've completed</span>
        <p class="font-display text-3xl lg:text-5xl">
          {projectsStatistics.completed}
        </p>
        <span>projects</span>
      </div>

      <div
        class="grid place-content-center space-y-4 rounded-r-2xl border border-current/30 bg-current/10 text-center transition-all duration-300 max-xl:rounded-2xl max-lg:group-hover:rounded-t-none lg:group-hover:rounded-l-none"
      >
        <span>I'm currently working on</span>
        <p class="font-display text-3xl lg:text-5xl">
          {projectsStatistics.inProgress}
        </p>
        <span>projects</span>
      </div>
    </div>
  </div>
</section>
