---
import ProseH1 from "../../content/H1.astro";

import type { GridProps } from "./Grid.vue";

interface Props extends GridProps {}

const { data: allProjects } = Astro.props;

const projectsStatistics = allProjects.reduce(
  (stats, project) => {
    if (project.isDraft) stats.inProgress++;
    else stats.completed++;

    return stats;
  },
  { completed: 0, inProgress: 0 },
);
---

<section class="items-start place-content-center grid grid-cols-8 min-h-screen">
  <div class="space-y-8 col-span-full">
    <ProseH1>My stats.</ProseH1>

    <div
      class="group gap-4 hover:gap-0 grid lg:grid-cols-2 backdrop-blur-lg border-current/30 hover:border-current/70 rounded-2xl min-h-[50vh] transition-[gap] duration-300"
      data-snap-cursor
    >
      <div
        class="place-content-center space-y-4 grid bg-current/10 border border-current/30 max-xl:rounded-2xl lg:group-hover:rounded-r-none max-lg:group-hover:rounded-b-none rounded-l-2xl text-center transition-all duration-300"
      >
        <span>I've completed</span>
        <p class="font-display text-3xl lg:text-5xl">
          {projectsStatistics.completed}
        </p>
        <span>projects</span>
      </div>

      <div
        class="place-content-center space-y-4 grid bg-current/10 border border-current/30 max-xl:rounded-2xl max-lg:group-hover:rounded-t-none rounded-r-2xl lg:group-hover:rounded-l-none text-center transition-all duration-300"
      >
        <span>I'm currently working on</span>
        <p class="font-display text-3xl lg:text-5xl">
          {projectsStatistics.inProgress}
        </p>
        <span>projects</span>
      </div>
    </div>
  </div>
</section>
