---
import { Image } from "astro:assets";

import LayoutBase from "../layouts/Base.astro";
import ContentParagraph from "../components/content/Paragraph.vue";
import ContentLink from "../components/content/Link.vue";
import ContentH1 from "../components/content/H1.astro";
---

<LayoutBase
  class="xl:grid-cols-4 min-h-[calc(96dvh-46px)] xl:min-h-dvh"
  title="Home"
>
  <div
    class="place-content-center place-items-center gap-y-8 grid text-center text-pretty col-[2/12] xl:col-[2/4]"
  >
    {/* Identity x profile picture */}
    <Image
      alt="A young lad."
      class="bg-current/10 rounded-lg outline outline-dashed hover:outline-solid outline-offset-4 size-40 hover:rotate-5 hover:scale-110 transition hover:-translate-y-2 duration-300"
      data-morph-cursor
      inferSize
      priority
      src="https://avatars.githubusercontent.com/u/57059138?s=240&v=4"
    />

    <ContentH1>Hey, I'm Oyedeji.</ContentH1>

    <ContentParagraph class="max-w-md font-serif text-2xl leading-relaxed">
      And I'm a <ContentLink href="/projects"><em>developer</em></ContentLink> & <ContentLink
        href="/photos"><em>photographer</em></ContentLink
      > based in <em>Abuja, Nigeria.</em>
    </ContentParagraph>
  </div>
</LayoutBase>
