---
import { buttonVariants } from "../utils/variants";

import CaretLeftIcon from "~icons/ph/caret-left";
import CaretRightIcon from "~icons/ph/caret-right";
import CircleNotchIcon from "~icons/ph/circle-notch-thin";

import LayoutBase from "../layouts/Base.astro";

import ContentH1 from "../components/content/H1.astro";
import ContentParagraph from "../components/content/Paragraph.vue";

import PagesPhotosWrapper from "../components/pages/photos/Wrapper.astro";
---

<LayoutBase
  description="This page showcases my photography work."
  title="My photos"
>
  <div class="space-y-8 col-[2/12] xl:col-[2/8]">
    <div class="flex items-center h-[50vh]">
      <div
        class="flex max-xl:flex-col justify-between xl:items-end gap-y-8 w-full"
      >
        <div class="space-y-8 xl:max-w-md">
          <ContentH1>My photos.</ContentH1>

          <ContentParagraph
            >Most of my work revolves around street and nature photography.</ContentParagraph
          >
          <slot />
        </div>

        <div class="flex items-center gap-x-4" data-snap-cursor>
          <button
            class={buttonVariants({ iconOnly: true })}
            data-action="previous"
            data-snap-cursor
            disabled
          >
            <CaretLeftIcon />
            <span class="sr-only">Previous page</span>
          </button>

          <button
            class={buttonVariants({ iconOnly: true })}
            data-action="next"
            data-snap-cursor
            disabled
          >
            <CaretRightIcon />
            <span class="sr-only">Next page</span>
          </button>
        </div>
      </div>
    </div>

    <section
      class="group place-items-center space-y-4 grid bg-current/10 backdrop-blur-lg mb-[16.65vh] p-8 border border-current/30 hover:border-current/70 rounded-2xl transition duration-300"
      data-snap-cursor
    >
      <PagesPhotosWrapper server:defer>
        <CircleNotchIcon
          class="opacity-70 group-hover:opacity-100 size-20 transition animate-spin duration-300"
          slot="fallback"
        />
      </PagesPhotosWrapper>
    </section>
  </div>
</LayoutBase>
