---
import { getCollection } from "astro:content";

import { buttonVariants } from "../utils/variants";

import ArrowRight from "~icons/ph/arrow-right";

import AstroIcon from "~icons/devicon/astro";
import NuxtjsIcon from "~icons/devicon/nuxt";
import PythonIcon from "~icons/devicon/python";
import TailwindCSSIcon from "~icons/devicon/tailwindcss";
import TauriIcon from "~icons/devicon/tauri";
import TypescriptIcon from "~icons/devicon/typescript";
import VuejsIcon from "~icons/devicon/vuejs";

import LayoutBase from "../layouts/Base.astro";

import { socialLinks } from "../components/app/Footer.astro";

import PagesProjectsGrid from "../components/pages/projects/Grid.vue";
import PagesProjectsLanguages from "../components/pages/projects/Languages.astro";
import PagesProjectsStatistics from "../components/pages/projects/Statistics.astro";

import ContentH1 from "../components/content/H1.astro";
import ContentParagraph from "../components/content/Paragraph.vue";

const projects = (await getCollection("projects")).map((project) => ({
  ...project.data,
}));
---

<LayoutBase
  description="This page showcases my software projects."
  title="My projects"
>
  <div class="space-y-8 col-[2/12] xl:col-[2/8]">
    <div class="flex items-center min-h-[50vh]">
      <div class="flex flex-wrap justify-between items-end gap-y-8 w-full">
        <div class="space-y-8 md:max-w-sm lg:max-w-md">
          <ContentH1>My projects.</ContentH1>

          <ContentParagraph>
            These are some of the spices I use in my projects.
          </ContentParagraph>

          <PagesProjectsLanguages
            entries={[
              AstroIcon,
              NuxtjsIcon,
              PythonIcon,
              TailwindCSSIcon,
              TauriIcon,
              TypescriptIcon,
              VuejsIcon,
            ]}
          />
        </div>

        <a
          class={buttonVariants({ class: "h-15" })}
          data-snap-cursor
          rel="noopener noreferrer"
          target="_blank"
          href={socialLinks[0].url}
        >
          View all <ArrowRight
            class="size-5 group-hover:-rotate-45 transition duration-300"
          />
        </a>
      </div>
    </div>

    <PagesProjectsGrid data={projects} client:only>
      <ul class="gap-4 grid lg:grid-cols-3" slot="fallback">
        {
          Array.from({ length: 6 }).map((_, index) => (
            <li
              class={[
                "group flex h-46 animate-pulse flex-col items-start gap-y-4 rounded-2xl border border-current/30 bg-current/10 backdrop-blur-sm transition-all duration-300 hover:border-current/70",
                [0, 3, 4].includes(index) && "lg:col-span-2",
              ]
                .filter(Boolean)
                .join(" ")}
            />
          ))
        }
      </ul>
    </PagesProjectsGrid>

    <PagesProjectsStatistics data={projects} />
  </div>
</LayoutBase>
