@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --spotlight-color: color-mix(
      in srgb,
      var(--color-primary-700),
      transparent 50%
    );
  }

  .dark {
    --spotlight-color: color-mix(
      in srgb,
      var(--color-primary-300),
      transparent 70%
    );
  }
}

@theme {
  /* Colors */
  --color-primary-50: oklch(0.956 0.009 52.17);
  --color-primary-100: oklch(0.915 0.021 58.07);
  --color-primary-200: oklch(0.83 0.047 60.75);
  --color-primary-300: oklch(0.744 0.059 61.52);
  --color-primary-400: oklch(0.662 0.053 61.7);
  --color-primary-500: oklch(0.571 0.045 60.65);
  --color-primary-600: oklch(0.484 0.038 60.72);
  --color-primary-700: oklch(0.399 0.032 62.92);
  --color-primary-800: oklch(0.311 0.025 61.53);
  --color-primary-900: oklch(0.225 0.018 62.88);
  --color-primary-950: oklch(0.179 0.014 61.53);

  /* Fonts */
  --font-display: "Croissant One", serif;
  --font-sans: Poppins, sans-serif;
  --font-serif: "Playfair Display", serif;

  /* Easing gotten from https://animejs.com/easing-editor */
  --ease-in-out-circ: linear(
    0,
    0.0001,
    0.0004,
    0.0009,
    0.0016,
    0.0025,
    0.0036,
    0.0049,
    0.0064,
    0.0082,
    0.0101,
    0.0123,
    0.0146,
    0.0172,
    0.02,
    0.023,
    0.0263,
    0.0298,
    0.0335,
    0.0375,
    0.0417,
    0.0462,
    0.051,
    0.056,
    0.0614,
    0.067,
    0.0729,
    0.0792,
    0.0858,
    0.0927,
    0.1,
    0.1077,
    0.1158,
    0.1244,
    0.1334,
    0.1429,
    0.153,
    0.1637,
    0.175,
    0.1871,
    0.2,
    0.2138,
    0.2287,
    0.2449,
    0.2625,
    0.2821,
    0.304,
    0.3294,
    0.36,
    0.4005,
    0.5,
    0.5995,
    0.64,
    0.6706,
    0.696,
    0.7179,
    0.7375,
    0.7551,
    0.7713,
    0.7862,
    0.8,
    0.8129,
    0.825,
    0.8363,
    0.847,
    0.8571,
    0.8666,
    0.8756,
    0.8842,
    0.8923,
    0.9,
    0.9073,
    0.9142,
    0.9208,
    0.9271,
    0.933,
    0.9386,
    0.944,
    0.949,
    0.9538,
    0.9583,
    0.9625,
    0.9665,
    0.9702,
    0.9737,
    0.977,
    0.98,
    0.9828,
    0.9854,
    0.9877,
    0.9899,
    0.9918,
    0.9936,
    0.9951,
    0.9964,
    0.9975,
    0.9984,
    0.9991,
    0.9996,
    0.9999,
    1
  );
}
