---
import { twMerge } from "tailwind-merge";

interface Props {
  isActive?: boolean;
  class?: string;
}

const { isActive, ...attrs } = Astro.props;
---

<button
  class={twMerge(
    "flex cursor-pointer items-center gap-x-1 rounded-full border px-5 py-3 text-sm backdrop-blur-sm transition duration-300 hover:ring focus:ring focus:outline-none lg:gap-x-2 2xl:text-base",
    isActive && "bg-primary-900/10 dark:bg-primary-100/10",
    attrs.class as string | undefined,
  )}
  data-snap-cursor
  {...attrs}
>
  <slot />
</button>
